.hero {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.hero__photo {
    max-width: 700px;
    align-self: center;
}

.hero__title {
    font-size: 3rem;
    margin-bottom: 0;
}

.hero__title_text {
    max-width: 30%;
}