nav {
    display: flex;
    background-color: #21222A;
    align-items: center;
    height: 80px;
    padding: 30px;
}

.nav__logo {
    height: 30px;
    margin-right: 10px;
}

.nav__logo_text, .nav__title {
    color: white;
}

.nav__logo_text {
    color: #61DAFB;
    font-weight: 700;
    margin-right: auto;
    margin-left: 10px;
}

.nav__title {
    font-weight: 600;
}

