main {
    color: white;
    padding: 60px 30px;
    background-image: url('../../images/react-icon-big.png');
    background-repeat: no-repeat;
    background-position: right 75%;
}

.main__title {
    margin: 0px;
    letter-spacing: -0.05em;
}

.main__list {
    margin-top: 50px;

}

.main__list > li {
    line-height: 19px;
    padding-block: 10px;
    max-width: 400px;
}

.main__list > li::marker {
    color: #61DAFB;
    font-size: 1.4rem;
    height: 160.61px;
    left: 51px;
    top: 239px;
}