.card {
    max-width: 175px;
    font-size: 12px;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    position: relative
}

.card__badge {
    position: absolute;
    top: 6px;
    left: 6px;
    background-color: white;
    padding: 5px 7px;
    border-radius: 2px;
    font-weight: bold;
}

.card__image {
    width: 100%;
    border-radius: 9px;
    margin-bottom: 9px;
}

.card__title {
    overflow: hidden;
    text-overflow: ellipsis;
}

.card__stats {
    display: flex;
    align-items: center;
}

.card__star {
    height: 14px;
}

.card__price {
    margin-top: auto;
}

.card__color_gray {
    color: #918E9B;
}

.card__font_bold {
    font-weight: bold;
}